<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-reorder>
      <ion-item><ion-label>One</ion-label></ion-item>
    </ion-reorder>

    <ion-reorder>
      <ion-item><ion-label>Two</ion-label></ion-item>
    </ion-reorder>

    <ion-reorder [ngClass]="showExtraCard ? 'showExtraCard' : 'hideExtraCard'" >
      <ion-item><ion-label>Three</ion-label></ion-item>
    </ion-reorder>
  </ion-reorder-group>
</ion-content>


